<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..img/alvaro.png">
    <link rel="stylesheet" href="../styles/style.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sobre mi</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="top-nav">
            <a href="../index.html" class="logo">@alvarosopena</a>
            <nav>
                <ul>
                    <li><a href="../index.html">| Home |</a></li>
                    <li><a href="aboutme.html">Sobre mi |</a></li>
                    <li><a href="curriculum.html">Llevate mi Cv |</a></li>
                    <li><a href="proyectos.html">Mis Proyectos |</a></li>
                    <li><a href="contacto.html">Contactame |</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="main-top about">
                <div class="text-top about">
                    <h1>Sobre mi </h1>
                </div>
            </div>
            <div class="info">
                <p>Soy de Mendoza, Argentina, tengo 31 años, hace 2 años hice el curso de Desarrollo Web Full Stack en
                    Digital House con una duración 8 meses, maquetado web, HTML, CSS, JS, Nodejs, Express y MySql,
                    utilizando Métodologias Agíles (SCRUM). Ahora estoy comenzando el curso de Desarrollo Frontend con
                    React
                    en Coderhouse, con una duración de 6 meses, finaliza en enero 2024. Y el curso fullstack con NodeJS
                    en
                    Codo a Codo 4.0 que también finaliza en enero de 2024. He hecho algunos cursos en Udemy también pero
                    al
                    ser solo on demand lo cuento como herramientas. También soy freelancer en proyectos con Worpdress en
                    Agencia Waiu, de Mendoza. Estoy recibido de Tec. Sup. En Comercio Internacional y Aduana.</p>

            </div>
        </div>
    </main>

    <footer>
        <div class="social-buttons">
            <a href="https://www.linkedin.com/in/alvaro-sopena-figueroa/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://instagram.com/alvarosopena" class="fa fa-instagram" target="_blank"></a>
            <a href="https://mailto:alvarosopenaf@gmail.com" class="fa fa-envelope" target="_blank"></a>
            <a href=" https://wa.me/+5492614668479" class="fa fa-whatsapp" target="_blank"></a>
        </div>
        <p>Made with love @ Alvaro Sopeña Figueroa</p>
    </footer>
</body>

</html>