<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="..img/alvaro.png">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Mi Cv</title>
    
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="top-nav">
            <a href="" class="logo">@alvarosopena</a>
            <nav>
                <ul>
                    <li><a href="../index.html">| Home |</a></li>
                    <li><a href="aboutme.html">Sobre mi |</a></li>
                    <li><a href="curriculum.html">Llevate mi Cv |</a></li>
                    <li><a href="proyectos.html">Mis Proyectos |</a></li>
                    <li><a href="contacto.html">Contactame |</a></li>
                </ul>
            </nav>
        </div>
    </header>

   <main>

    <div class="main-top">
        <div class="text-top">
            <h1>Baja mi curriculum</h1>
            <h2> <a href="../files/CV - Alvaro Sopeña Figueroa - es.pdf"download="Cv Alvaro Sopeña Figueroa"> Haciendo click acá!</a></h2>
        </div>
        <div class="hero">
            <img src="../img/alvaro.png" id=imghero class=imghero alt="foto Alvaro">
        </div>
    </div>

   </main>

   <footer>
    <p>Made with love @ Alvaro Sopeña Figueroa</p>
</footer>
</body>

</html>